<!doctype html>
<html lang="fr">
    {% block head %}
        <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta
            name="viewport" content="width=device-width, initial-scale=1"> <!-- CSS -->
            <link href="assets/styles.css" rel="stylesheet">
            <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
            <link
                rel="stylesheet"
                href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
                integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
                crossorigin=""/>
            <title>{{ title }}</title>
        </head>
    {% endblock %}
    <body>
        
        {% block navbar %} {% endblock %}

        <div class=" nds-main">
            {{ content | safe }}
        </div><!-- nds-main -->

        {% block footer %} {% endblock %}

        <!-- Bootstrap Bundle with Popper -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script
            src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
        <script src="main.js"></script>
        <script src="https://kit.fontawesome.com/083435ad62.js" crossorigin="anonymous"></script>
    </body>
</html>