{% extends "default.njk" %}

{% block navbar %}
    <div class=" navbar navbar-expand-lg navbar-light fixed-top nds-navbar bg-light">
        <div class="container">
        <a class="navbar-brand nds-logo" href="#">
            <!-- logo -->
            <img id="nds-logo-img" src="assets/logo.svg" alt="" aria-hidden="true" width="50" height="50"
            class="d-inline-block align-text-top">
            Nunes Avocat
        </a>
        </div><!-- container-fluid -->
{% endblock %}

{% block footer %}
    <footer class="footer bg-dark text-light nds-footer">
        <div class="container">
            <div class="text-center mb-3">
                <img
                    id="nds-logo-img"
                    src="assets/logo.svg"
                    alt=""
                    aria-hidden="true"
                    width="75"
                    height="75"
                    class=""
                    style="filter: invert(90%)">
            </div>
            <p class="text-center">
                Maitre Pauline Nunes - Avocat en droit du travail et de la sécurité sociale au Barreau de Grenoble.
            </p>
            <p class="text-center pt-1">
                <a href="/mentions-legales.html">Mentions légales</a><br/> Nunes-avocat© 2020-<span id="nds-year"></span>
            </p>
        </div>
    </footer>
{% endblock %}