@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$primary: black;

.nds-logo {
  font-size: 2rem;
  font-family: 'Hahmlet', Georgia, 'Times New Roman', Times, serif;
}
.nds-font-sans-serif {
  font-family: 'Hahmlet', Georgia, 'Times New Roman', Times, serif;
}

.nds-navbar {
  box-shadow: #707070 0 2px 6px 0;
}

.nds-main {
  margin-top: 5.5rem;
}

.nds-footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nds-map-contact {
  height: 50vh;
}

.nds-contact-label {
  text-transform: uppercase;
  align-items: center;
  align-content: space-between;
  flex-direction: row;
  display: flex;
  font-size: 0.95rem;
  font-weight: lighter;
}
