<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description"
        content="Maitre Pauline Nunes est avocate au barreau de grenoble et vous accompagne dans vos litiges en droit du travail et de la sécurité sociale.">

    <!-- CSS -->
    <link href="assets/styles.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- FONT -->
    <link
        href="https://fonts.googleapis.com/css2?family=Hahmlet&family=Newsreader&family=Roboto&family=Vollkorn&display=swap"
        rel="stylesheet">

    <!-- LIBs -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <title>{{ title }}</title>
</head>