<!doctype html>
<html lang="fr">
{% include "layouts/head" %}

<body>
    {% include "layouts/navbar" %}

    <div class=" nds-main">
        {{ content }}
    </div><!-- nds-main -->

    {% include "layouts/footer" %}
    {% include "layouts/endbody" %}
</body>

</html>