---
layout: layouts/layout.liquid
title: Nunes avocat
---

<div class="container p-3">
  <span style="font-size: 2.5rem;" class="m-3 nds-font-sans-serif "> Phrase d'accroche ... c'est ici</span>
</div>

<section id="domaines" class="bg-light p-3">
  <div class="container">

    <h1 class="text-center p-3">Domaines d'intervention</h1>

    <div class="row">
      <div class="col-12 col-md-6">
        <div class="card m-2 text-center">
          <div class="card-body">
            <h5 class="card-title">Droit du travail</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt
              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita</p>
          </div>
        </div><!-- card -->
      </div><!-- col -->

      <div class="col-12 col-md-6">
        <div class="card m-2 text-center">
          <div class="card-body">
            <h5 class="card-title">Droit de la sécurité sociale</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt
              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi
              ut
            </p>
          </div>
        </div><!-- card -->
      </div><!-- col -->
    </div><!-- row -->

  </div><!-- container -->
</section><!-- domaine -->

<section id="autres" class="p-3">
  <div class="container">

    <h1 class="text-center p-3">Lorem ipsum</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
  </div><!-- container -->
</section><!--  -->

<section id="contact" class="p-3 bg-light">
  <div class="container">

    <h1 class="text-center p-3">Contact</h1>

    <div class="row">
      <div class="col-12 col-md-6">
        <address class="row align-middle">
          <div class="col-12 col-md-4 nds-contact-label"><i class="fa-solid fa-location-dot fs-4 pe-2 pb-2"></i>
            Adresse
            :</div>
          <div class="col-12 col-md-8 pb-3"> <span class="fw-bold nds-font-sans-serif">Maitre Pauline Nunes</span>
            <br />{{ global.adresse }}
            <br />{{ global.codePostal }} {{ global.city }}
          </div>

          <div class="col-12 col-md-4 nds-contact-label"><i class="fa-solid fa-envelope-open-text fs-4 pe-2"></i>
            Mail :
          </div>
          <div class="col-12 col-md-8 pb-3"> <a class="link-dark"
              href="mailto:jism@rock.com">contact@ccnunes-avocat.fr</a></div>

          <div class="col-12 col-md-4 nds-contact-label"><i class="fa-solid fa-phone fs-4 pe-2"></i> Téléphone :
          </div>
          <div class="col-12 col-md-8 pb-3"> <a class="link-dark" href="tel:+13115552368">06 07 06 07 07</a> </div>
        </address>
      </div><!-- col -->
      <div class="col-12 col-md-6">

        <div id="nds-map-contact" class="nds-map-contact"></div>
      </div><!-- col -->
    </div><!-- row -->

  </div><!-- container -->
</section><!-- contact -->